 /* resetcss */
 *{
    padding: 0;
    margin: 0;
}
.container {
    margin-top: 10px;
    width: 100%;
    height: 2000px;
    background-color: #f1e9f4;
}
.contentconvert{
    margin-left: 30%;
    /* margin-top: 10px; */
    
}

.age-cal{
    margin-top: 10px;
}

.current-time{
    margin-top: 20px;
}