/* resetcss */
*{
    padding: 0;
    margin: 0;
}
 
/* Nav */
.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: antiquewhite;
}


.brand{
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 50px;
}
.nav-menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.nav-menu .list-menu{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.nav-menu .list-menu a{
    color: black;
    text-decoration: none;
    font-family: inherit;
    font-weight: 450;
    margin: 0 20px;
}

.brand {
    display: flex;
    /* justify-content: center; */
}
.brand .search-box{
    position: absolute;
    right: 100px;
    top: 35px;
    /* justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
   
    display: flex;
    border: none; */
    /* cursor: pointer; */
}
.search-box input {
    /* right: 100px; */
}
.search-box button {
    border-radius: 8px;
    /* right: 10px; */
}

.search-box button:hover {
    background-color:orange;;
    border-radius: 8px;
}
.brand img {
    position: relative;
    left: 20px;
    position: relative;
    top: 50%;
    width: 50px;
    height: 50px;
    border-color: orange;
}
.brand #i1{
    position: relative;
    left: 20px;
    top: 30%;
    margin: 10px;
    float: left;
    width: 390px;
    max-width: 400px;
    font-size: 30px;
    color: orange;
    font-family: cursive;
    font-weight: 700;
}

.brand #i2{
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 390px;
    max-width: 400px;
    font-family: cursive;
    font-weight: 500;
}

body{
    position: relative;
    padding-top: 90px;
}


/* content  */
.add  {
    display: flex;
    margin-top: 20px;
}
.box-add{
    margin: auto ;
    display: flex;

}

.message
{
    display: none;
}
.error-message {
    display: inline;;
}

.table {
    display: flex;
    width: 100%;
    position: relative;
}

.table .col-list {
    width: 100% / 3;
    margin-top: 20px;
}

.table .col-item {
    display: flex;
    float: left;
    width: calc(1116px / 3 - 5px ); 
    height: 1000px;
    justify-content: center;
    background-color: rgb(231, 227, 108);
    border-radius: 10px;
    margin-left: 7.5px;
}

.table .col-2 {
    background-color: rgb(96, 246, 101);
}

.table .col-3 {
    background-color: rgb(252, 88, 206);
}


.table .col-list i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.tasklist #products {
    float: left;
    border-radius: 10px;
    width: calc(1116px / 3 - 5px ); 
    justify-content: center;
    background-color: rgb(243, 98, 98);
    display: inline;
}

 .product1 {
    position: relative;
    margin-left: 10px;
    border-bottom: 1px solid #636363 ;
    height: 30px; 
    align-items: center;
    display: flex;
}
.taskname{
    position: absolute;
    text-overflow: clip;
    display: block;
    width: 70%;
    top: 2px;
}

.checkbox {
    position: absolute;
    margin-right: 10px;
    color: aquamarine;
    right: 70px;
    top: 8px;
}
 
 button {
    border-radius: 10px;
    background-color: #d6d6d6;
    max-height: 90%;
    position: absolute;
    margin-left: 280px;
}
 
 
 
