.add  {
    display: flex;
}
.box-add{
    margin: auto ;
}

.message
{
    display: none;
}
.error-message {
    display: inline;;
}

#products {
    background-color: cornflowerblue;
    width: 33.33333%;
    border-radius: 10px;
}
.product1 {
    margin-left: 10px;
    display: flex;
}

.checkbox {
    padding: 0 10px ;
    margin: auto;
}