.add  {
    display: flex;
}
.box-add{
    margin: auto ;
}

.message
{
    display: none;
}
.error-message {
    display: inline;;
}

#products {
    background-color: cornflowerblue;
    width: 20%;
    
}