.add  {
    display: flex;
}
.box-add{
    margin: auto ;
}

.message
{
    display: none;
}
.error-message {
    display: inline;;
}

#products {
    background-color: cornflowerblue;
    width: 33.33333%;
    border-radius: 10px;
}
.product1 {
    margin-left: 10px;
    display: flex;
}

.checkbox {
    margin-left: 10px;
    margin-right: 10px;
    color: aquamarine;
}
.product1 button {
    border-radius: 10px;
    background-color: rgb(100, 237, 178);
}